<div id="books_index" class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-md-3">
      <form role="form" class="form">
        <div class="form-group">
          <input type="text" id="search_text" class="form-control" placeholder="Search" ng-model="searchText"></input>
        </div>
      </form>
      <ul id="book_list">
        <li class="pointer" ng-repeat="book in books | filter:searchText">
          <div>
            <strong>{{book.id == currentBook.id ? "*" : ""}}Title:</strong>
            <a ng-click="showBook(book.id)" href="#">{{book.title}}</a>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-xs-9 col-md-9">
      <div>
        <strong>Title:</strong>{{currentBook.title}}
      </div>
      <div>
        <strong>Author:</strong>{{currentBook.author.name}}
      </div>
      <div>
        <strong>Country:</strong>{{currentBook.author.country}}
      </div>
    </div>
  </div>
</div>
